<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Novo Avaliador</title>
</head>
<body>
   <html>Novo Avaliador</html>
   <form th:action="@{form.html}" th:object="${avaliador}" method="POST">
       <label>Nome: <input type="text" th:field="*{nome}"/></label>
       <label>Email: <input type="text" th:field="*{email}"/></label>
       <label>Codigo: <input type="text" th:field="*{codigo}"/></label>
       <input type="submit"/>
       <input type="reset"/>
   </form>
</body>
</html>
